<!--<header>-->
<!--  &lt;!&ndash; Fixed navbar &ndash;&gt;-->
<!--  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"  aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item" [routerLinkActive]="['addTrip']">-->
<!--          <a  class="nav-link" [routerLink]="['addTrip']">Dodaj detalje putovanja</a>-->
<!--        </li>-->
<!--        <li class="nav-item" [routerLinkActive]="['addTripPlan']">-->
<!--          <a  class="nav-link" [routerLink]="['addTripPlan']" >Dodaj plan putovanja</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
<!-- Begin page content -->
<main role="main" class="container-fluid main-container">
  <router-outlet></router-outlet>
</main>


