<div *ngIf="tripPlan != null">
  <div class="jumbotron">
    <div class="container">
      <div class="media">
        <div class="container">
          <h1 class="display-4">{{tripPlan.description}}</h1>
          <p class="lead">Minimalni broj posjetitelja: {{tripPlan.minNumberOfPassengers}}</p>
        </div>
        <img src="{{tripPlan.pictureUrl}}" class="img-thumbnail" style="height: 250px">
      </div>

    </div>
  </div>
  <div class="container">
    <h2>Lokacije koje se posjećuju</h2>
    <label></label>
    <div *ngIf="tripPlan.locationList.length > 0">
      <a *ngFor="let location of tripPlan.locationList" class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{location.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{location.country}}</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>



